<div>
    <h3 class="text-3xl text-center pt-6 mb-3">Filters</h3>
    <mat-divider></mat-divider>

    <div class="flex p-4">
        <div class="w-1/2">
            <h4 class="font-semibold text-xl text-pretty">Brands</h4>
            <mat-selection-list [multiple]="true" [(ngModel)]="selectedFilters().brands">
                @for (brand of brands$ | async; track brand) {
                    <mat-list-option [value]="brand">{{ brand }}</mat-list-option>
                }
            </mat-selection-list>
        </div>
        <div class="w-1/2">
            <h4 class="font-semibold text-xl text-pretty">Types</h4>
            <mat-selection-list [multiple]="true" [(ngModel)]="selectedFilters().types">
                @for (type of types$ | async; track type) {
                    <mat-list-option [value]="type">{{ type }}</mat-list-option>
                }
            </mat-selection-list>
        </div>
    </div>
    <div class="flex justify-end p-4">
        <button mat-button (click)="applyFilters()">Apply Filters</button>
    </div>
</div>